<p>Bonjour {{fullname}},</p>

<p>Vous avez fait une demande de réinitialisation de mot de passe.</p>

<p>Cliquez sur le lien ci-dessous pour réinitialiser votre de mot de passe :</p>
<p><a target="_blank" href="{{url}}">{{url}}</a></p>

<br />

<p>A bientôt sur {{applicationName}}</p>