<p>Bonjour {{fullname}},</p>

<p>Bienvenue sur {{applicationName}} !</p>

<p>Afin de pouvoir accéder à votre compte, veuillez confirmer votre adresse email en cliquant sur le lien ci-dessous :</p>
<p><a target="_blank" href="{{url}}">{{url}}</a></p>

<br />

<p>A bientôt sur {{applicationName}}</p>