<p>Bonjour {{fullname}},</p>

<p>Votre mot de passe a été réinitialisé.</p>

<p>Cliquez sur le lien ci-dessous pour vous connecter avec votre nouveau mot de passe :</p>
<p><a target="_blank" href="{{url}}">{{url}}</a></p>

<br />

<p>A bientôt sur {{applicationName}}</p>