@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
@import 'variables.scss';

* {
  font-family: 'Teachers', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
