@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@import 'tailwindcss';

@plugin "tailwindcss-primeui";
@plugin "@tailwindcss/typography";

@source "../../**/*.vue";

@theme {
  --font-serif: 'Figtree', sans-serif;
  --font-sans: 'Figtree', sans-serif;
  --font-mono: 'Figtree', sans-serif;

  --color-primary: var(--p-primary-color);

  --color-admin-background: linear-gradient(
    180deg,
    #e0e7f5 0%,
    rgba(170, 194, 239, 0.06) 111.26%
  );
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.admin__layout .form-group label {
  color: var(--color-gray-500);
  font-weight: 500 !important;
  font-size: 0.9rem;
}
